<div class="main_content_container">
  <div class="main_headline search_headline_pos">
    Search Gems
  </div>
  <div class="search_box_container search_box_pos">
    <%= form_tag(search_path, method: 'post') do %>
      <%= text_field_tag 'query', nil, placeholder: 'Search'%>
      <%= image_submit_tag('magnifying-glass.png', class: 'search_icon', alt: 'Search') %>
    <% end %>
  </div>
  <% if @search_result %>
    <div class="search_results">
      <div class="gem_name"><%= @title %></div>
      <div class="gem_info"><%= @info %></div>
      <div class="gem_deps"><%= @deps %></div>
    </div>
    <div class="error_message">
      <%= @result_error %>
    </div>
  <% end %>

</div>
